p {
  font-size: 15px;
  font-weight: 400;
  color: #777F98;
  line-height: 25px; }

body {
  background-color: #080C20;
  font-family: "Manrope", sans-serif; }

.header {
  width: 100%;
  padding-top: 40px;
  box-sizing: border-box;
  overflow-x: hidden; }
  .header .background-illustrations--div {
    width: 113%;
    height: 231px; }
    .header .background-illustrations--div .background-sign {
      display: none; }
    .header .background-illustrations--div .background-illustration {
      display: none; }
    .header .background-illustrations--div .background-illustration--mobile {
      width: 100%;
      height: 100%; }
  .header .logo {
    margin: auto;
    display: block;
    margin-bottom: 67px; }
  .header article {
    text-align: center;
    padding: 50px 24px 0px 24px;
    box-sizing: border-box; }
    .header article h1 {
      color: #fff;
      font-size: 32px;
      font-weight: 800;
      line-height: 40px; }
      .header article h1 b {
        color: #3EE9E5; }
      .header article h1 span {
        display: block; }
    .header article p {
      margin-top: 23px; }
    .header article img {
      margin-top: 32px; }

.section--1 {
  text-align: center;
  margin-top: 144px;
  padding: 0px 24px; }
  .section--1 ul li {
    margin-bottom: 56px; }
    .section--1 ul li:last-child {
      margin: 0; }
    .section--1 ul li .li-img {
      background-color: #093F68;
      width: 120px;
      height: 123px;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 35px; }
  .section--1 ul h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 11px; }

.section--2 {
  padding: 0px 24px;
  box-sizing: border-box;
  margin-top: 144px;
  text-align: center; }
  .section--2 h2 {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 27px; }
  .section--2 .plans-div {
    margin-top: 80px;
    text-align: left; }
    .section--2 .plans-div .plan {
      position: relative;
      padding: 50px 30px 32px 30px;
      background-color: #093F68;
      border-radius: 8px; }
      .section--2 .plans-div .plan h4 {
        font-size: 18px;
        font-weight: 800;
        color: #fff;
        margin-bottom: 19px; }
      .section--2 .plans-div .plan p {
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 26px; }
      .section--2 .plans-div .plan strong {
        font-size: 40px;
        font-weight: 800;
        color: #fff;
        margin-bottom: 19px;
        display: inline-block; }
      .section--2 .plans-div .plan ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 15px; }
        .section--2 .plans-div .plan ul li:last-child {
          margin: 0px; }
        .section--2 .plans-div .plan ul li svg {
          fill: #3EE9E5; }
      .section--2 .plans-div .plan .plan-icon {
        position: absolute;
        top: 0;
        transform: translateY(-50%); }
    .section--2 .plans-div .plan--paid {
      background-color: #3EE9E5;
      margin-top: 65px;
      color: #080C20 !important; }
      .section--2 .plans-div .plan--paid h4 {
        color: #080C20; }
      .section--2 .plans-div .plan--paid p {
        color: rgba(8, 12, 32, 0.6) !important; }
      .section--2 .plans-div .plan--paid strong {
        color: #080C20;
        position: relative; }
        .section--2 .plans-div .plan--paid strong::after {
          content: "/ month";
          font-size: 15px;
          font-weight: 400;
          color: rgba(8, 12, 32, 0.6);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -60px; }
      .section--2 .plans-div .plan--paid li {
        color: #080C20 !important; }
      .section--2 .plans-div .plan--paid svg {
        fill: #093F68 !important; }

.footer {
  margin-top: 145px;
  margin-bottom: 165px;
  text-align: center;
  padding: 0px 24px;
  box-sizing: border-box; }
  .footer h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 31px; }
    .footer h2 span {
      display: block; }
  .footer form #email-inp {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 24px;
    background-color: #093F68;
    padding-left: 18px;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    font-weight: 600; }
    .footer form #email-inp::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-size: 15px;
      font-weight: 600; }
  .footer form .arror-span {
    display: block;
    text-align: left;
    color: #FF2965;
    margin-top: 8px;
    padding-left: 15px;
    box-sizing: border-box;
    visibility: hidden; }
  .footer form .submit-btn {
    width: 100%;
    height: 48px;
    margin-top: 15px;
    border: none;
    outline: none;
    border-radius: 24px;
    background-color: #3EE9E5;
    color: #093F68;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s; }
    .footer form .submit-btn:hover {
      color: #fff;
      border: 1px solid #3EE9E5;
      background: none; }

.error-border {
  border: 2px solid #FF2965 !important; }

.error-span--active {
  visibility: visible !important; }
